<?xml version="1.0" encoding="UTF-8"?>
<plugin 
	xmlns="http://plugin.powerschool.pearson.com" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	description="[PLUGIN_DESCRIPTION]" 
	name="[PLUGIN_NAME]" 
	version="[PLUGIN_VERSION]" 
	xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
	<publisher name="[PUBLISHER_NAME]">
		<contact email="[PUBLISHER_EMAIL]"/>
	</publisher>
</plugin>